.waypoint {
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    height: 2rem;
    margin: 1rem 0;

    &.dragging {
        background-color: var(--white);

        .waypoint-drag-handle,
        .delete-icon {
            display: none;  
        }
    }

    .waypoint-drag-handle {
        cursor: move;
        padding: .25rem;

        span {
            background-color: var(--gray);
            display: block;
            height: .2rem;
            margin-bottom: .25rem;
            width: 1.5rem;
        }
    }

    .waypoint-title {
        flex-grow: 1;
        font-weight: bold;
        padding: .25rem;
    }

    .delete-icon {
        cursor: pointer;
        width: 1.5rem;

        path {
            fill: var(--gray);
        }
    }
}
