:root {
    // stylelint-disable color-no-hex
    --white: #fff;
    --almost-black: #383838;
    --black: #000;
    --blue: #4085e1;
    --grey: #747474;
    --dark-grey: #4c4c4c;
    --light-grey: hsla(0, 0%, 45%, .5);
    --green: #cae26a;
    --green-hover: #6b9237;
    --shadow-color: hsla(0, 0%, 0%, .75);
    // stylelint-enable
}
