.sidebar {
    background-color: var(--almost-black);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: auto;
}

.waypoints {
    flex-grow: 1;
    margin-top: 5rem;
}

hr {
    background-color: var(--gray);
    border: 0;
    height: .3rem;
    width: 100%;
}

@media (min-width: 548px) {
    .sidebar {
        flex: 0 0 388px;
        max-height: 100vh;
        max-width: 388px;
    }
}
