.sidebar {
  display: flex;
  flex-direction: column;
  width: auto;
  padding: 1rem;
  background-color: var(--almost-black);
}

.waypoints {
  flex-grow: 1;
  margin-top: 5rem;
}

hr {
  background-color: var(--gray);
  border: 0;
  height: 0.3rem;
  width: 100%;
}

@media (min-width: 548px) {
  .sidebar {
    flex: 0 0 388px;
    max-width: 388px;
    max-height: 100vh;
  }
}
