.mapid {
  width: 600px;
  height: 400px;
  position: relative;
  outline: none;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

button {
  background-color: var(--green);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1.125rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-radius: .25rem;
  border: 1px solid transparent;
  font-weight: 700;
  margin: 0;
  cursor: pointer;
  color: var(--black);
  transition-duration: .1s, .1s;
  transition-property: background, color;
  transition-timing-function: ease-in-out, ease-in-out;
}

button:hover, 
button:focus, 
button:active {
  background-color: var(--green-hover);
}

@media (min-width: 548px) {
  main {
    flex-direction: row;
  }
}