#mapid {
  width: 100vw;
  height: 100vh;
  position: relative;
  outline: none;
}

.marker-text {
  background-color: var(--almost-black);
  width: 2rem !important;
  height: 2rem !important;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  font-size: 1.3rem;
  font-weight: bold;
  margin-top: -1rem !important;
  margin-left: -1rem !important;
}